@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");


/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    --ff-lato:"Lato", sans-serif;
    --bg: #10081a;
    --primary-1: #9f4cfc;
    --primary-2: #df4cfc;
    --white: #fff;
    --text: #e6d9f5;
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-lato);
    background-color: var(--bg);
    color:var(--white);
    overflow-x: hidden;
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/
.container{
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flex_c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex_sb{
    justify-content: space-between;
}

.w_100{
    width: 100%;
}

.btn{
    width: fit-content;
    background: linear-gradient(93.23deg,var(--primary-1) 0%,var(--primary-2) 100%);
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    border: solid transparent 1px;
}

.btn:hover{
    background: #df4cfc;
}
.btn:active{
    transform: scale(0.98);
}

.heading{
    font-size: 4rem;
    text-align: center;
    line-height: 90px;
    letter-spacing: 0.04em;
    color: var(--white);
}
/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header{
    width: 100%;
    height: 5rem;
    padding: 1rem 2rem;
    background: rgba(16, 8, 26,0.3);
    z-index: 999;
    backdrop-filter: blur(40px);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header .container{
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    color: var(--text);
    gap: 1rem;
}
.nav_links{
    align-items: center;
}
.header_solid{
    /* background: rgba(16, 8, 26,1.0); */
    transition: .3s linear;
    box-shadow: 1px 1px 0px rgba(252, 240, 255, 0.2);
    backdrop-filter: blur(40px);
}

.brand{
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.nav_link{
    font-size: 1.2rem;
    color: var(--text);
    padding: 6px 1rem;
    border-bottom: 1px solid transparent ;

}

.nav_link.active{
    font-weight: 700;
    border-bottom: 1px solid var(--primary-1) ;
}
/*-----------------------------------*\
    #HERO
\*-----------------------------------*/
.hero{
    background-image: url(../img/hero-bg.png) ;
    background-attachment: fixed ;
    background-size: 100%;
    background-position:center ;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    color: var(--text);
}

.hero_overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(16,8,25,0.3) 0%, var(--bg) 100% );

    backdrop-filter: blur(20px);
    z-index: 1;
}
.hero_overlay figure img{
    width: 10rem;
}
.hero_overlay figure{
    position: absolute;
    top: 120px;
    pointer-events: none;
    animation: float 3s ease-in-out infinite;
    z-index: 9;
}
.hero_overlay figure:first-of-type{
    left: 120px;
    animation-delay: 2s;
}
.hero_overlay figure:nth-of-type(2){
    left: 300px;
    top: 150px;
    animation-delay: 3s;
}

.hero_overlay figure:nth-of-type(3){
    right: 160px;
    animation-delay: 1s;
}
.hero_overlay figure:nth-of-type(4){
    left: 60px;
    top: 320px;
    animation-delay: 3s;
}
.hero_overlay figure:nth-of-type(5){
    right: 100px;
    top: 300px;
}
.hero_overlay figure:nth-of-type(6){
    bottom: 30px;
    top: unset;
    left: 300px;
    animation-delay: 2s;
}
.hero_overlay figure:nth-of-type(7){
    top: unset;
    bottom: 190px;
    right: 290px;
}
.hero_overlay figure:nth-of-type(8){
    top: unset;
    bottom: 20px;
    right: 140px;
    animation-delay: 1s;
}

@keyframes float {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,-10px);
    }
    100%{
        transform: translate(0,0);
    }
}

.hero_content{
    position: relative;
    padding-top: 150px;
    width: 100%;
    z-index: 99;
    text-align: center;
}
h1.heading{
    text-align: center;
    font-size: 5.4rem;
    line-height: 90px;
    letter-spacing: 0.04em;
    color: var(--white);
}
.hero .heading span{
    background: linear-gradient(to right, #a94cfd 0%,#dd4cfc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.hero_content .btn{
    font-size: 1.6rem;
    padding: 1rem 3rem;
    margin-block-start: 50px;
    width: fit-content;
    margin-inline: auto;
}

.hero_content p{
    font-size: 1.8rem;
    line-height: 28px;
    font-weight: 300;
    width: 35%;
    margin: 20px auto;
}

.scroll_btn{
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.scroll_btn img{
    width: 50px;
}
/*-----------------------------------*\
    #FEATURES
\*-----------------------------------*/
.features{
    padding-top: 80px;
    min-height: 100vh;
}

.features .heading{
    margin-top: 20px;
    font-size: 4rem;
}
.features_content{
    margin-block-start: 3.1rem;
    padding: 3.7rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.feature{
    width: 390px;
    height: 480px;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-1);
}
.feature_img{
    width: 100%;
    height: 200px;
    background-image: url(../img/features-1.png) ;
    background-position: center;
    background-size: 70%;
    background-repeat:no-repeat;
    animation: float 3s ease-in-out infinite;
}
.feature:nth-of-type(2) .feature_img{
    background-image: url(../img/features-2.png) ;
    animation-delay: 1s;
}
.feature:nth-of-type(3) .feature_img{
    background-image: url(../img/features-3.png) ;
}

.feature h4{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 1rem 0;
}
.feature p{
    font-size: 1rem;
    line-height: 25px;
}

.feature:hover{
    border-color: var(--text);
    transition: 0.4s linear;
}
/*-----------------------------------*\
    #OFFERS
\*-----------------------------------*/
.offers{
    padding-top: 80px;
    min-height: 100vh;
}
.offers .heading{
    font-size: 4rem;
    margin-top: 1rem;
}

.offer_container{
    margin: 50px;
    padding: 2rem 0;
}

.offer_img{
    width: 48%;
    height: 460px;
    background-image: url(../img/offers-img.png);
    background-size: 70%;
    background-position: left;
    background-repeat: no-repeat;
    animation: float 3s ease-in-out infinite;
}

.offer_content{
    width: 48%;
}
.offer{
    /* text-align: left; */
    margin: 20px 0;
    width: 100%;
}
.offer h4{
    font-size: 1.5rem;
    font-weight: normal;
}

.offer_text{
    line-height: 25.6px;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(252, 240, 255, 0.6);
}

.offer p{
    line-height: 160%;
    margin-block-start: 20px;
}
/*-----------------------------------*\
    #partners
\*-----------------------------------*/
.partners{
    padding-top: 80px;
}

.partners .heading{
    font-size: 4rem;
}

.investors_container{
    padding: 2rem 0;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.investors_container img{
    width: 240px;
    pointer-events: none;
}

.investor{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    cursor: pointer;
}
/*-----------------------------------*\
    #ACCOUNT
\*-----------------------------------*/
.account {
    padding-top: 80px;
}
.account .heading{
    margin: 1rem;
    font-size: 4rem;
}
.account .section_text{
    font-size: 1rem;
    line-height: 1.5;
}

.account_container{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.account_container >div{
    flex: 1;
}
.account_img{
    height: 400px;
    background: url(../img/account-img.png) no-repeat right / contain;

    animation: float 3s ease-in-out infinite;
}
.account_content p{
    width: 80%;
    margin-bottom: 30px;
}


/*-----------------------------------*\
    #SUBSCRIBE
\*-----------------------------------*/

.subscribe{
    padding-top: 80px;
    padding: 1rem;
}
.subscribe .heading{
    margin-block: 2rem ;
}
.subscribe_container{
    margin: 2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subscribe_container img{
    margin-bottom: 20px;
    width: 340px;
    padding: 2rem 0;
    animation: float 3s ease-in-out infinite;
}

.subscribe_container p{
    font-size: 1rem;
}
.get_notification{
    border: 1px solid rgba(252, 240, 255, 0.05);
    background-color: rgba(252, 240, 255, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 2rem .5rem;
    width: 50%;
}
.get_notification input{
    padding: .9rem 2rem;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    flex: 3;
    background: transparent;
    border: none;
}
.get_notification .btn{
    flex: 1;
    font-size: 1rem;
    padding: 1rem;
}
.get_notification input::placeholder{
    color: #bdb9b9;
}
/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/
.footer{
    background: #000;
    padding: 1rem 1.6rem;
}

.footer_menu{
    width: 30%;

}
.footer_menu img{
    width: 18px;
    height: 20px;
}
/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 2000px){
    html{
        font-size: 18px;
    }
    .hero_content{
        top: 210px;
    }
    .container{
        margin: 0 auto ;
        max-width: 1500px;
    }
}


@media (max-width:1330px ){
    .hero_content p{
        width: 50%;
    }
    body .container{
        margin: 0 2rem ;
    }
    .feature{
        width: 350px;
        height: 450px;
    }
    .feature_img{
        height: 180px;
    }
    .features_content{
        margin: 2rem;
    }
}

@media (max-width: 946px){
    html{
        font-size: 90%;
    }
    .get_notification{
        gap: 1rem;
        justify-content: center;
        margin: 2rem 1rem;
        width: 90%;
    }
    .btn{
        padding: .3rem 1rem;
    }
    .get_notification input{
        padding: .4rem 1rem ;
    }
    .scroll_btn{
        margin-top: 50px;
    }
    .hero_overlay figure:nth-of-type(2),
    .hero_overlay figure:nth-of-type(5),
    .hero_overlay figure:nth-of-type(7){
        display: none;
    }
}
.btn_menu{
    display: none;
}
@media (max-width: 740px){
    html{
        font-size: 80%;
    }
    .hero_content{
        padding-top: 200px;
    }
    .hero_content p{
        width: 80%;
    }
    .hero h1{
        font-size: 4.5rem;
        line-height: 1.2;
    }
    .hero_overlay figure{
        display: none;
    }
    .nav_links{
        flex-direction: column;
        position: absolute;
        right: -100%;
        transform: translateX(0);
        top: 64px;
        height: 80vh;
        width: 45%;
        padding: 2rem ;
        background-color: var(--bg);
        border: 1px solid var(--primary-1);
        transition: right .5s ease;
        gap: 2rem;
    }
    .nav_links.active{
        right: 0%;
        transition: all .5s linear;
    }

    .btn_menu{
        padding: 1px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 5px    ;
        position: absolute;
        right: 1rem;
        top: 1.8rem;
        height: 1.6rem;
    }
    
    .btn_menu span{
        width: 2rem;
        height: 2px;
        background-color: #fff;
        transition: transform .2s ease;
    }
    .btn_menu.active span:nth-of-type(1){
        transform: rotateZ(45deg) translate(2px,10px);
    }
    .btn_menu.active span:nth-of-type(2){
        transform: rotate(-180deg);
        opacity: 0;
        transition: opacity .2s ease-out    ;
    }
    .btn_menu.active span:nth-of-type(3){
        transform: rotate(-45deg) translate(2px,-10px);
    }

    .features_content{
        gap: 2.5rem;
        margin: 0;
    }
    .offer_container{
        flex-direction: column;
    }
    .offer_content{
        width: 100%;
    }
    .offer_img{
        height: 350px;
        width: 100%;
        background-size: contain;
    }

    .account_content{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    .account_container{
        flex-direction: column;
    }
    .account_container .account_img{
        width: 400px;
        height: 400px;
        flex:none;
    }
    .investors_container img{
        width: 180px;
    }
}

@media (max-width: 550px){

    .hero_content{
        padding-top: 260px;
    }
    .investors_container{
        grid-template-columns: 1fr;
    }
    .container .heading{
        font-size: 3rem;
    }

    .hero_content p{
        width: 90%;
    }
    .footer .brand{
        display: none;
    }
    .footer .container{
        justify-content: center;
    }
    .account_img{
        padding-inline: 1rem ;
    }
    .get_notification{
        width: 100%;
        gap: 0;
        margin: 1rem .5rem ;
    }
    .get_notification input::placeholder{
        font-size: 1rem;
    }
    .get_notification input{
        flex: 1;
    }
    .get_notification .btn{
        flex: 1;
    }
}
.btn_respo{
    display: none;
}
@media (max-width:428px ){
    .get_notification .btn{
        display: none;
    }
    .btn_respo{
        display: block;
        padding: 1rem 1.5rem;
    }
}