@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");


/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    --ff-lato:"Lato", sans-serif;
    --bg: #10081a;
    --primary-1: #9f4cfc;
    --primary-2: #df4cfc;
    --white: #fff;
    --text: #e6d9f5;
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-lato);
    height: 1800vh;
    background-color: var(--bg);
    color:var(--white);
    overflow-x: hidden;
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/
.container{
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flex_c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex_sb{
    justify-content: space-between;
}

.w_100{
    width: 100%;
}

.btn{
    width: fit-content;
    background: linear-gradient(93.23deg,var(--primary-1) 0%,var(--primary-2) 100%);
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    font-weight: bold;
    border: solid transparent 1px;
}

.btn:hover{
    background: #df4cfc;
}
.btn:active{
    transform: scale(0.98);
}
/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header{
    width: 100%;
    height: 5rem;
    padding: 1rem 2rem;
    background: rgba(16, 8, 26,0.3);
    z-index: 999;
    backdrop-filter: blur(40px);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header .container{
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    color: var(--text);
    gap: 1rem;
}
.nav_links{
    align-items: center;
}
.header_solid{
    /* background: rgba(16, 8, 26,1.0); */
    transition: .3s linear;
    box-shadow: 1px 1px 0px rgba(252, 240, 255, 0.2);
    backdrop-filter: blur(40px);
}

.brand{
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.nav_link{
    font-size: 1.2rem;
    color: var(--text);
    padding: 5px 1rem;
    border-bottom: 1px solid transparent ;

}

.nav_link.active{
    font-weight: 700;
    border-bottom: 1px solid var(--primary-1) ;
}
/*-----------------------------------*\
    #HERO
\*-----------------------------------*/
.hero{

    background-image: url(../img/hero-bg.png) ;
    background-attachment: fixed ;
    background-size: 100%;
    background-position:center ;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    color: var(--text);
}

.hero_overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(16,8,25,0.3) 0%, var(--bg) 100% );

    backdrop-filter: blur(20px);
    z-index: 1;
}
.hero_overlay figure img{
    width: 10rem;
}
.hero_overlay figure{
    position: absolute;
    top: 120px;
    pointer-events: none;
    animation: float 3s ease-in-out infinite;
    z-index: 99;
}
.hero_overlay figure:first-of-type{
    left: 120px;
    animation-delay: 2s;
}
.hero_overlay figure:nth-of-type(2){
    left: 300px;
    top: 150px;
    animation-delay: 3s;
}

.hero_overlay figure:nth-of-type(3){
    right: 160px;
    animation-delay: 1s;
}
.hero_overlay figure:nth-of-type(4){
    left: 60px;
    top: 320px;
    animation-delay: 3s;
}
.hero_overlay figure:nth-of-type(5){
    right: 100px;
    top: 300px;
}
.hero_overlay figure:nth-of-type(6){
    bottom: 30px;
    top: unset;
    left: 300px;
    animation-delay: 2s;
}
.hero_overlay figure:nth-of-type(7){
    top: unset;
    bottom: 190px;
    right: 290px;
}
.hero_overlay figure:nth-of-type(8){
    top: unset;
    bottom: 20px;
    right: 140px;
    animation-delay: 1s;
}

@keyframes float {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,-10px);
    }
    100%{
        transform: translate(0,0);
    }
}

.hero_content{
    position: relative;
    padding-top: 150px;
    width: 100%;
    z-index: 99;
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 5.4rem;
    line-height: 90px;
    letter-spacing: 0.04em;
    color: var(--white);
}
.hero .heading span{
    background: linear-gradient(to right, #a94cfd 0%,#dd4cfc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.hero_content .btn{
    font-size: 1.6rem;
    padding: 1rem 3rem;
    margin-block-start: 30px;
    width: fit-content;
    margin-inline: auto;
}

.hero_content p{
    font-size: 1.8rem;
    line-height: 28px;
    font-weight: 300;
    width: 35%;
    margin: 20px 32.5%;
}

.scroll_btn{
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.scroll_btn img{
    width: 50px;
}
/*-----------------------------------*\
    #FEATURES
\*-----------------------------------*/
.features{
    padding-top: 80px;

}

.features .heading{
    margin-top: 20px;
    font-size: 4rem;
}
.features_content{
    margin-block-start: 3.1rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.feature{
    width: 390px;
    height: 480px;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-1);
}
.feature_img{
    width: 100%;
    height: 200px;
    background-image: url(../img/features-1.png) ;
    background-position: center;
    background-size: 70%;
    background-repeat:no-repeat;
    animation: float 3s ease-in-out infinite;
}
.feature:nth-of-type(2) .feature_img{
    background-image: url(../img/features-2.png) ;
    animation-delay: 1s;
}
.feature:nth-of-type(3) .feature_img{
    background-image: url(../img/features-3.png) ;
}

.feature h4{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 1rem 0;
}
.feature p{
    font-size: 1rem;
    line-height: 25px;
}

.feature:hover{
    border-color: var(--text);
    transition: 0.4s linear;
}
/*-----------------------------------*\
    #OFFERS
\*-----------------------------------*/
.offers{
    padding-top: 80px;
}
.offers .heading{
    font-size: 4rem;
    margin-top: 1rem;
}

.offers_container{
    margin: 50px;
}

.offer_img{
    width: 48%;
    height: 460px;
    background-image: url(../img/offers-img.png);
    background-size: 70%;
    background-position: left;
    background-repeat: no-repeat;
    animation: float 3s ease-in-out infinite;
}

.offer_content{
    width: 48%;
}
.offer{
    /* text-align: left; */
    margin: 20px 0;
    width: 100%;
}
.offer h4{
    font-size: 2.2rem;
    font-weight: normal;
}

.offer_text{
    line-height: 25.6px;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(252, 240, 255, 0.6);
}

.offer p{
    line-height: 160%;
    margin-block-start: 20px;
}
/*-----------------------------------*\
    #WORK
\*-----------------------------------*/


/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/



/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/